<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <li><a href="/">Trang chủ</a></li>
    <li><a href="about">Giới thiệu</a></li>
    <li><a href="letter"> Resignation Letter</a></li>
    

    <h2>Hãy đăng một Blog</h2>
    <form action="/" method="POST">
     
        <table >
            <tr>
                <td>Nhập tiêu đề Blog</td>
            </tr>
            <tr>
                <td> <input type="text" name="title" ></td>
            </tr>
            <tr>
                <td>Nhập nội dung Blog</td>
            </tr>
            <tr>
                <td> <textarea name="content"></textarea> </td>
            </tr>
            <tr>
                <td> <button type="submit">Đăng bài viết </button></td>
            </tr>
        </table>
    
    </form>
    <h2>Danh sách các bài Posts</h2>
    
    {% for i in rows: %}
      <p>Post at: {{ i[3] }} </p> 
      <p> {{ i[1] }} </p> 
      <p> {{ i[2] }} </p> 
      <a href="editpost/{{ i[0] }}">Sửa bài viết</a>
      <hr  width="100%"  />
      
    {% endfor %}  
</body>
</html>